<div>
    <div>
      <!-- <input type="email" placeholder="Email" [(ngModel)]="email" />
      <input type="password" placeholder="Password" [(ngModel)]="password" />
      <input type="text" placeholder="Name" [(ngModel)]="name" />
  
      <button (click)="login(email, password)">
        Login
      </button>
  
      <button (click)="register(email, password, name)">
        Register
      </button>
  
      <button (click)="logout()">
        Logout
      </button> -->

      <button (click)="signin()">
        Sign in with Google
      </button>
    </div>
  </div>
  